.newTask {
    width: 100%;
    margin-top: -1.625rem;
    display: flex;
    justify-content: center;

    gap: 0.5rem;
}

.newTask input {
    flex: 1;
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    color: var(--gray-100);
    background: var(--gray-500);
}

.newTask input::placeholder {
    color: var(--gray-300);
}

.newTask button[type=submit] {
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    color: var(--gray-100);
    background: var(--blue-dark);
    line-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    transition: filter 0.1s;
}

.newTask button[type=submit]:not(:disabled):hover {
    filter: brightness(1.08);
}

.newTask button[type=submit]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}