.taskList {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.taskList header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createdTasks, .completedTasks {
    display: flex;
    gap: 0.5rem;
}

.createdTasks p, .completedTasks p {
    font-weight: 700;
    line-height: 1.4;
}

.taskCounter {
    padding: 0.125rem 0.5rem;
    font-weight: 700;
    color: var(--gray-200);
    background: var(--gray-400);
    border-radius: 40%;
    line-height: 1.4;
}

.createdTasks p {
    color: var(--blue);
}

.completedTasks p {
    color: var(--blue-dark);
}

.emptyTaskList {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--gray-400);
}

.emptyTaskList svg {
    color: var(--gray-400);
    margin-bottom: 1rem;
}

.emptyTitle {
    color: var(--gray-300);
    line-height: 1.4;
    font-weight: 700;
}

.emptySubtitle {
    color: var(--gray-300);
    line-height: 1.4;
    font-weight: 400;
}